@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;700&display=swap');

body {
  background-color: #1A1A1A;
  color: #E0E0E0;
  font-family: 'Poppins', sans-serif;
}

/* Animations */
button:hover {
  transition: all 0.3s ease-in-out;
}

/* Tailwind custom styles for global buttons, cards, etc. */
.btn-primary {
  @apply bg-accent text-background font-bold py-3 px-6 rounded-full hover:bg-primary;
}

/* Add this CSS to your styles */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning-logo {
  animation: spin 5s linear infinite; /* Adjust duration as needed */
}
